/* 
	navbar
*/

.navbar-default .navbar-nav > li > a:hover{
    background-color: CornflowerBlue ;
}


.navbar-default .navbar-nav > li.active-onglet > a{
    color: CornflowerBlue;
    background-color:white;
}

a.brand{
	margin-right:100px;
}

/* 
	media-fiche
*/
.title-media-fiche{
	background-color : LightSteelBlue ;
}

.case-border {
	padding : 15px;
    border: 2px solid LightSteelBlue;
    border-radius: 12px;
    background-color : rgb(219, 228, 240);
}